::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(blueviolet, red);
    border-radius: 12px;
    cursor: all-scroll;
}


.reveal {
    position: relative;
    transform: translateY(100px);
    transform: translateX(50px);
    opacity: 0;
    transition: all 1.3s ease
    }
    
    .reveal.active {
    transform: translateY(0);
    opacity: 1;
    }
    /* HomeContainer */
.navbar {
    width: 1349px;
    height: 90px;
    background: transparent;
    top: 0;
    z-index: 3;
  }
  
  
  
  
  body {
    z-index: 2;
  }
  
  #BodyContainer {
    width: 1349px;
    z-index: 2;
    overflow: hidden;
  }
  
  .navbar.sticky {
    transition: 1s;
    background: rgb(0, 0, 104);
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown button {
    color: rgb(185, 185, 185);
    font-size: 20px;
  }
  
  .dropdown button:hover {
    transition: 0.15s;
    color: #fff;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: blue;
    border-radius: 7px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  .dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .aWrapper{
    position: absolute;
    right: 50px;
  }
  
  
  
  .aWrapper a {
    color: rgb(185, 185, 185);
    font-size: 21px;
  }
  
  .aWrapper a:hover {
    color: #fff;
  }
  
  .aWrapper>button {
    width: 120px;
    height: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #Aboutheader {
    width: 1349px;
    height: 430px;
    background-image: url('https://img.freepik.com/free-vector/abstract-red-circle-black-background-technology_1142-9839.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  
  
  
  .scrollToTop-btn {
    z-index: 999;
    position: fixed;
    background: blue;
    color: #fff;
    width: 45px;
    height: 45px;
    right: 0;
    bottom: 10px;
    font-size: 22px;
    text-align: center;
    line-height: 45px;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0;
    transition: all .3s ease;
  }
  
  .scrollToTop-btn.active {
    right: 20px;
    opacity: 1;
  }
  
  
  footer {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    overflow: hidden;
  }
  
  .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    margin-right: 10px;
    transition: 0.3s;
    text-decoration: none;
  }
  
  .social-links a:hover {
    border-color: #fff;
    color: #fff;
  }
  .column1 a p{
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
  }
  .column1 a:hover p{
    color: white;
  }