/* HomeContainer */
.navbar {
  width: 1349px;
  height: 90px;
  background: transparent;
  top: 0;
  z-index: 3;
}




body {
  z-index: 2;
}

#BodyContainer {
  width: 1349px;
  z-index: 2;
  height: auto;
  overflow: hidden;
}

.navbar.sticky {
  transition: 1s;
  background: rgb(0, 0, 104);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown button {
  color: rgb(185, 185, 185);
  font-size: 20px;
}

.dropdown button:hover {
  transition: 0.15s;
  color: #fff;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: blue;
  border-radius: 7px;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.aWrapper{
  position: absolute;
  right: 50px;
}



.aWrapper a {
  color: rgb(185, 185, 185);
  font-size: 21px;
}

.aWrapper a:hover {
  color: #fff;
}

.aWrapper>button {
  width: 120px;
  height: 40px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#HomeContainer {
  width: 1349px;
  height: 730px;
  background-image: url('https://img.freepik.com/premium-photo/futuristic-dark-background-ripple-effect-web-blue-dots-big-data-illustration-technologies-artificial-intelligence-effect-particle-oscillation-3d-rendering_710001-328.jpg?size=626&ext=jpg&ga=GA1.1.2082370165.1711065600&semt=ais');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.search {
  width: 450px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  position: relative;
  left: 90px;
  top: 170px;
}

.search input {
  width: 60%;
  height: 100%;
  border-radius: 20px;
  border: none;
  padding: 14px;
}

.search input:focus {
  border: none;
  outline: none;
}

.search button {
  width: 38%;
  height: 100%;
  border-radius: 20px;
  border: none;
  background-color: #0d6efd;
  cursor: pointer;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.search button:hover {
  background-color: yellow;
  color: green;
}

.cardsWrapper {
  width: 500px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 190px;
  top: 200px;
  gap: 200px;
}

.cardsWrapper .card {
  width: 120px;
  height: 150px;
  display: flex;
  background: transparent;
  color: white;
  flex-direction: column;
  align-items: center;
  align-content: space-betweenx;
  border: none;
  gap: 14px;
}

/* /HomeContainer */










/* Page2 */

#Page2Container {
  width: 100%;
  height: 960px;
  background-color: #fff;
}

#Page2cardsWrapper {
  width: 1300px;
  height: 400px;
  display: flex;
  margin: auto;
}

.Page2card {
  width: 400px;
  height: 300px;
  display: flex;
  gap: 30px;
  color: black;
}

.Page2card:hover {
  transition: 0.25s;
  color: rgb(28, 62, 255);
}

.About {
  width: 90%;
  height: 550px;
  margin: auto;
  display: flex;
  gap: 50px;
}

.Aboutxt {
  width: 50%;
  height: 100%;
}

.Aboutxt h1 {
  font-size: 45px;
  font-weight: 700;
  color: darkblue;
}

.Aboutxt p {
  font-size: 22px;
  font-weight: 400;
  color: darkblue;
}

.AboutCardsWrapper {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
}

.Aboutcard {
  width: 100%;
  height: 31%;
  display: flex;
  align-items: center;
  gap: 30px;
}

.Aboutcard i {
  color: #0d6efd;
}

/* /Page2 */


/* Our */


.OurServices {
  width: 100%;
  height: 1241px;
  margin: auto;
}

#nav {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
}

#nav h1 {
  font-size: 100px;
  font-weight: 700;
  color: darkblue;
  opacity: 0.1;
  position: relative;
  left: 100px;
  bottom: 10px;
}

#nav p {
  font-size: 60px;
  font-weight: 400;
  color: darkblue;
  font-weight: 700;
  position: relative;
  left: -350px;
}


.OurServices .OurCardsWrapper {
  width: 85%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  flex-direction: row;
  margin: auto;
}

.OurServices .OurCardsWrapper .card {
  width: 30%;
}

.OurServices .OurCardsWrapper .card .imgcontainer {
  width: 100%;
  height: 55%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.OurServices .OurCardsWrapper .card .imgcontainer img {
  object-fit: cover;
  transition: .5s ease;
}

.OurServices .OurCardsWrapper .card:hover .imgcontainer img {
  transform: scale(1.2);
}

.OurServices .OurCardsWrapper .card .OurCardstxt h1 {
  font-size: 25px;
  font-weight: 700;
  color: darkblue;
}

.OurServices .OurCardsWrapper .card:hover .OurCardstxt h1 {
  color: #0d6efd;
}

.OurServices .OurCardsWrapper .card:hover {
  cursor: pointer;
}

.OurCardstxt {
  padding: 20px;
}

/* /Our */







/* Call To Action */

.CalltoAction {
  width: 1349px;
  height: 300px;
  background-image: url('img/services2.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media(min-width:1248px) {
  .CalltoAction {
    background-attachment: fixed;
  }
}

.CalltoAction h1 {
  font-size: 55px;
  color: white;
}

.CalltoAction p {
  font-size: 25px;
  text-align: center;
  width: 90%;
  color: white;
}

.CalltoAction button {
  margin: 20px auto;
  border: 4px solid white;
  color: white;
  width: 175px;
  height: 50px;
  font-size: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* /Call To Action */


/* Text img */

.Textimg {
  height: 1600px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  gap: 30px;
  padding: 20px;
}

.Textimg .card {
  width: 100%;
  height: 350px;
  flex-direction: row;
  justify-content: space-between;
  border: none;
}

.Textimg .card img {
  width: 38%;
  height: 100%;
}

.Textimg .card .TextImgtxt {
  width: 60%;
  height: 100%;
  display: flex;
  padding-left: 40px;
  padding-top: 20px;
  flex-direction: column;
}

.TextImgtxt p {
  font-size: 19px;
  display: flex;
  align-items: center;
  gap: 20px;
}


/* /Text img */







html,
body {
  position: relative;
  height: 100%;
}

body {
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 400px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-image: url('https://i.pinimg.com/originals/47/8f/7d/478f7d0c9306425e7b30c1c93a14819f.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollToTop-btn {
  z-index: 999;
  position: fixed;
  background: blue;
  color: #fff;
  width: 45px;
  height: 45px;
  right: 0;
  bottom: 10px;
  font-size: 22px;
  text-align: center;
  line-height: 45px;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0;
  transition: all .3s ease;
}

.scrollToTop-btn.active {
  right: 20px;
  opacity: 1;
}


.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}


#pricingnav {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pricingnav h1 {
  font-size: 100px;
  font-weight: 700;
  color: darkblue;
  opacity: 0.1;
  position: relative;
  left: 120px;
  bottom: 50px;
}

#pricingnav p {
  font-size: 60px;
  font-weight: 400; 
  color: darkblue;
  font-weight: 700;
  position: relative;
  left: -142px;
  bottom: 40px;
}



.reveal {
  position: relative;
  transform: translateY(100px);
  transform: translateX(50px);
  opacity: 0;
  transition: all 1.3s ease
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
#PricingcardsWrapper{
  width: 90%;
  height: 80vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
#Pricingcard1{
  width: 30%;
  height: 550px;
  padding-top: 60px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid black;
  box-shadow: 10px 10px 8px 0px rgba(0,0,0,0.75);
}
.row{
  width: 100%;
  height: 100px;
  display: flex;
  background-color: #0d6efd;
}   




footer {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  overflow: hidden;
}

.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 10px;
  transition: 0.3s;
  text-decoration: none;
}

.social-links a:hover {
  border-color: #fff;
  color: #fff;
}
.column1 a p{
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
}
.column1 a:hover p{
  color: white;
}

::-webkit-scrollbar{
  width: 15px;
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(blueviolet, red);
  border-radius: 12px;
  cursor: all-scroll;
}